html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  color: #858295;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-info {
  background: url(../images/section_info.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 0 171px;
}

.section-info__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 73px;
  text-align: center;
  color: #FFFFFF;
}

.section-info__description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 31px;
}

.section-info__blocks-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-info__blocks-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 102px;
  max-width: 566px;
  position: relative;
}

.section-info__block-1 {
  position: relative;
  background: #FFFFFF;
  border-radius: 50px;
  max-width: 196.23px;
  max-height: 196.23px;
  padding: 50px;
  margin-right: 180.21px;
  margin-bottom: 48px;
  z-index: 2;
}

.section-info__block-1shadow {
  position: absolute;
  top: 32px;
  left: -26px;
}

.section-info__block-2 {
  position: relative;
  margin-top: 14px;
  background: #FFFFFF;
  border-radius: 50px;
  max-width: 189.46px;
  max-height: 189.46px;
  padding: 57px 50px;
  z-index: 2;
}

.section-info__block-2shadow {
  position: absolute;
  top: 43px;
  right: -29px;
}

.section-info__block-3 {
  position: relative;
  background: #FFFFFF;
  border-radius: 50px;
  max-width: 182.69px;
  max-height: 182.69px;
  padding: 50px;
  margin-right: 153.68px;
  z-index: 2;
}

.section-info__block-3shadow {
  position: absolute;
  bottom: -16px;
  left: 6px;
}

.section-info__block-4 {
  position: relative;
  margin-top: 25px;
  background: #FFFFFF;
  border-radius: 50px;
  max-width: 169.16px;
  max-height: 169.16px;
  padding: 42px 46px;
  z-index: 2;
}

.section-info__block-4shadow {
  position: absolute;
  bottom: -26px;
  right: 11px;
}

.section-info__block-absolute {
  background: #99D02A;
  -webkit-box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.3);
  border-radius: 60px;
  padding: 27px 36px 27px 35px;
  position: absolute;
  top: 20%;
  z-index: 5;
}

.section-product__title {
  margin-top: 61px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  color: #10083F;
  width: 686px;
  margin: 0 auto;
}

.section-product__description {
  margin-top: 31px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  color: #858295;
}

.section-product__blocks-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 56px;
}

.section-product__blocks-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.section-product__block {
  position: relative;
  background: url(../images/product_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 576px;
  height: 576px;
  padding: 57px 26px 62px 56px;
  border-radius: 58px;
}

.section-product__block1-line {
  position: absolute;
  background: #119BF0;
  border-radius: 20px;
  width: 8px;
  height: 180px;
  bottom: 60px;
  left: 56px;
}

.section-product__block2-line {
  position: absolute;
  background: #99D02A;
  border-radius: 20px;
  width: 8px;
  height: 180px;
  bottom: 60px;
  left: 56px;
}

.section-product__block3-line {
  position: absolute;
  background: #FF7700;
  border-radius: 20px;
  width: 8px;
  height: 180px;
  bottom: 60px;
  left: 56px;
}

.section-product__block4-line {
  position: absolute;
  background: #D91A00;
  border-radius: 20px;
  width: 8px;
  height: 180px;
  bottom: 60px;
  left: 56px;
}

.section-product__block-3,
.section-product__block-4 {
  margin-top: 44px;
}

.section-product__block-img {
  position: relative;
  background: #FFFFFF;
  border-radius: 40px;
  max-width: 176.4px;
  max-height: 176.4px;
  padding: 44px;
  margin-left: 22.6px;
  margin-bottom: 106.6px;
  z-index: 2;
}

.section-product__block1-shadow {
  position: absolute;
  top: 84px;
  left: 52px;
  z-index: 1;
}

.section-product__block2-shadow {
  position: absolute;
  top: 83px;
  left: 52px;
  z-index: 1;
}

.section-product__block-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 41px;
}

.section-product__block-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  margin-top: 24px;
  margin-left: 41px;
}

.section-feedback {
  margin-top: 120px;
}

.section-feedback__description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 26px;
line-height: 34px;
text-align: center;
color: #858295;
margin-top: 33px;
margin-bottom: 64px;
}

.section-feedback__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.section-feedback__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-feedback__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #97CF26;
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
}

.section-feedback__btn:focus {
  outline: none;
}

.section-feedback__btn img {
  margin-right: 10px;
}

.section-feedback__buttons {
  width: 832px;
}

.section-feedback__btn-2 {
  padding-left: 44.5px;
  padding-right: 44.5px;
}

footer {
  margin-top: 136px;
  background: #252740;
  padding: 38px 0;
}

.footer__copyright {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.modal {
  position: fixed;
  color: #000000;
  display: none;
  background-color: #FFFFFF;
  background-position: 0 0;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal-show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #10083F;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-text-us {
  top: 20%;
  left: 50%;
  width: 580px;
  margin-left: -290px;
  padding: 16px 25px 48px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 9999;
}

.modal__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #10083F;
  margin-bottom: 37px;
}

.modal__description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #10083F;
}

.modal__btn {
  padding: 20px 90px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #97CF26;
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 56px;
}

.mobile__img {
  display: none;
}

.product__block-description-mobile {
  display: none;
}

.feedback__btn-mobile {
  display: none;
}

.section-feedback__description-mobile {
  display: none;
}

.main-blur {
  position: relative;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  z-index: 9998;
}

.section-product {
  margin-top: 79px;
}

.section-product__description {
  max-width: 1010px;
  margin: 0 auto;
  margin-top: 31px;
}

.section-product__title-mobile {
  display: none;
}

.section-product__description-mobile {
  display: none;
}

.section-information {
    background: #F1F1F4;
    padding-top: 72px;
    padding-bottom: 89px;
}

.section-information__title {
    width: 645px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #10083F;
    margin: 0 auto;
    margin-bottom: 66px;
}

.section-information__blocks-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.section-information__block {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 40px 35px;
    max-width: 380px;
}

.section-information__block-circle {
     border-radius: 100%;
     border: 2px solid #99D02A;
     width: 80px;
     height: 80px;
     margin: 0 auto;
     position: relative;
}

.section-information__block-circle span {
    position: absolute;
    top: 26px;
    left: 29px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    color: #99D02A;
}

.section-information__block-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    color: #10083F;
    margin-top: 24px;
}

.section-information__block-dscription {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #504D64;
    margin-top: 22px;
}

.section-feedback__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #10083F;
}

.section-feedback__form {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: column; 
            flex-direction: column; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
            justify-content: center; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
            align-items: center;
}

.inputBox {
    position: relative;
    
}

.inputBox input {
    width: 500px;
    height: 64px;
    padding: 39px 24px 20px 24px;
    font-size: 22px;
    line-height: 26px;
    color: #10083F;
    margin-bottom: 40px;
    background: #F1F1F4;
    border-radius: 12px;
    border: none;
}

.inputBox label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #858295;
    position: absolute;
    top: 9px;
    left: 10px;
    padding: .625rem 10px;
    pointer-events: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label,
.inputBox input:not([value=""]) ~ label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #858295;
    top: -6px;
    left: 20px;
    background-color: transparent;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.inputBox input:focus {
    outline: none;
    border: 2px solid #97CF26;
}

.checkout-form__btn {
    background: #97CF26;
    -webkit-box-shadow: 0px 6px 12px rgba(151, 207, 38, 0.3);
            box-shadow: 0px 6px 12px rgba(151, 207, 38, 0.3);
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 17px 25px;
    cursor: pointer;
}

.hide {
    display: none;
}

.section-feedback__sended {
    display: none;
    margin-top: 120px;
}

.section-feedback__sended-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #10083F;
    max-width: 789px;
    margin: 0 auto;
    margin-bottom: 33px;
}

.section-feedback__sended-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #858295;
    max-width: 657px;
    margin: 0 auto;
    margin-bottom: 56px;
}

.section-feedback__sended-ico {
    text-align: center;
}

.show {
    display: block;
}

@media (max-width: 1170px) {
    .section-information__blocks-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
                justify-content: center;
    }

    .section-information__block {
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        margin-bottom: 32px;
    }

  .section-product__blocks-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section-product__block-2 {
    margin-top: 44px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .section-info {
    padding-top: 40px;
    padding-bottom: 110px;
  }
}

@media (min-width: 581px) and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .section-info__blocks-wrapper {
    max-width: 100%;
  }

  .section-info {
    padding-top: 40px;
    padding-bottom: 110px;
  }

  .section-info__block-1 {
    margin-right: 165.21px;
  }

  .section-info__block-3 {
    margin-right: 138.68px;
  }

  .section-info__block-1shadow {
    top: 31px;
    left: -18px;
  }

  .section-info__block-2shadow {
    top: 43px;
    right: -19px;
  }

  .section-info__block-3shadow {
    bottom: -14px;
    left: 14px;
  }

  .section-info__block-4shadow {
    bottom: -23px;
    right: 20px;
  }

  .section-feedback__btn-1 {
    margin-bottom: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section-feedback__btn-2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section-feedback__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 551px;
  }

  .section-product__title {
    width: 551px;
  }
}

@media (min-width: 320px) and (max-width: 580px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .section-info {
    padding-top: 40px;
    padding-bottom: 98px;
  }

  .section-info__title {
    font-size: 40px;
    line-height: 50px;
  }

  .section-info__description {
    font-size: 22px;
    line-height: 28px;
  }

  .section-info__block-1 {
    padding: 22px 22px 25px 22px;
    width: 92px;
    height: 92px;
    border-radius: 20px;
    margin-right: 83px;
    margin-bottom: 22px;
  }

  .section-info__block-1shadow {
    top: 14px;
    left: -13px;
  }

  .section-info__block-2 {
    padding: 26px 22px;
    width: 88px;
    height: 89px;
    border-radius: 20px;
  }

  .section-info__block-2shadow {
    top: 27px;
    right: -13px;
  }

  .section-info__block-3 {
    padding: 22px 23px;
    width: 84px;
    height: 84px;
    border-radius: 20px;
    margin-right: 72px;
  }

  .section-info__block-3shadow {
    bottom: -9px;
    left: 0;
  }

  .section-info__block-4 {
    padding: 18px 21px;
    width: 79px;
    height: 79px;
    border-radius: 20px;
    margin-top: 7px;
  }

  .section-info__block-4shadow {
    bottom: -12px;
    right: 2px;
  }

  .section-info__block-absolute {
    padding: 13px 20px 12px 19px;
    border-radius: 27px;
  }

  .section-info__blocks-inner {
    max-width: 263px;
    margin-top: 97px;
  }

  .section-product__title {
    font-size: 32px;
    line-height: 37px;
    margin-top: 32px;
    width: 288px;
  }

  .section-product__title-desktop {
    display: none;
  }

  .section-product__title-mobile {
    display: block;
  }

  .section-product__description {
    font-size: 22px;
    line-height: 28px;
  }

  .section-product__block {
    width: 288px;
    padding: 50px 12px 27px 27px;
    height: 335px;
    border-radius: 40px;
    background-image: url("../images/product_bg_mobile.jpg");
    background-repeat: no-repeat;
    padding: 29px 19px 29px 40px;
  }

  .section-product__block1-shadow {
    top: 41px;
    left: 25px;
  }

  .section-product__block2-shadow {
    top: 41px;
    left: 25px;
  }

  .section-product__block-img {
    width: 88.2px;
    height: 88.2px;
    border-radius: 20px;
    margin-left: 0;
    padding: 21px 21px 23px 21px;
    margin-bottom: 44px;
  }

  .section-product__block-2,
  .section-product__block-3, 
  .section-product__block-4 {
    margin-top: 28px;
  }

  .section-product__block-2 .section-product__block-img {
    padding-top: 25px;
    padding-left: 23px;
  }

  .section-product__block-3 .section-product__block-img {
    padding-top: 20px;
    padding-left: 26px;
  }

  .section-product__block-4 .section-product__block-img {
    padding-top: 25px;
    padding-left: 25px;
  }

  .section-product__blocks-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-product__block-title {
    font-size: 24px;
    line-height: 28px;
    margin-left: 7px;
  }

  .section-product__block-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 12.3px;
    margin-left: 7px;
  }

  .section-product__block1-line {
    width: 3.9px;
    height: 138.59px;
    left: 27.52px;
    bottom: 33px;
  }

  .section-product__block2-line {
    width: 3.9px;
    height: 138.59px;
    left: 27.52px;
    bottom: 33px;
  }

  .section-product__block3-line {
    width: 3.9px;
    height: 120px;
    left: 27.52px;
    bottom: 37px;
  }

  .section-product__block4-line {
    width: 3.9px;
    height: 120px;
    left: 27.52px;
    bottom: 36px;
  }

  .desktop__img {
    display: none;
  }

  .mobile__img {
    display: block;
  }

  .product__block-description-desktop {
    display: none;
  }

  .product__block-description-mobile {
    display: block;
  }

  .section-feedback {
    margin-top: 40px;
  }

  .section-feedback__buttons-wrapper {
    margin-top: 32px;
  }

  .section-feedback__description-desktop {
    display: none;
  }

  .section-feedback__description-mobile {
    display: block;
    font-size: 22px;
    line-height: 28px;
    color: #858295;
    width: 288px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .section-feedback__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 288px;
  }

  .section-feedback__btn-1 {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .feedback__btn-desktop {
    display: none;
  }

  .feedback__btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 30px;
  }

  .feedback__btn-mobile2 {
    padding: 20px 50px;
  }

  .footer {
    margin-top: 120px;
  }

  .modal-text-us {
    top: 10%;
    left: 5%;
    width: 90%;
    padding: 16px 16px 32px 16px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 9999;
    margin-left: 0;
  }

  .modal-show ~ .main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    content: "";
    pointer-events: none;
    z-index: 2;
    opacity: .5;
  }

  .modal__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 24px;
  }

  .modal__btn {
    padding: 20px 44px;
    white-space: nowrap;
  }

  .section-product__block-3,
  .section-product__block-4 {
    height: 320px;
  }

  .section-product {
    margin-top: 32px;
  }

  .section-product__description {
    width: 288px; 
    margin: 0 auto;
    font-size: 22px;
    line-height: 28px;
    padding-top: 22px;
  }

  .section-product__description-desktop {
    display: none;
  }

  .section-product__description-mobile {
    display: block;
  }

  .section-product__blocks-wrapper {
    margin-top: 28px;
  }

  .section-information {
      padding-top: 30px;
      padding-bottom: 81px;
  }

  .section-information__title {
      width: 288px;
      font-size: 32px;
      line-height: 37px;
  }

  .section-information__block {
      padding-left: 20px;
      padding-right: 20px;
      width: 288px;
  }

  .section-feedback {
      margin-top: 80px;
      margin-bottom: 23px;
  }

  .section-feedback__title {
    font-size: 32px;
    line-height: 37px;
    width: 288px;
    margin: 0 auto;
    margin-bottom: 23px;
  }

  .inputBox input {
    width: 288px;
  }

  .checkout-form__btn {
    width: 288px;
    padding: 19px 21px 19px 20px;
    font-size: 22px;
    line-height: 26px;
  }

  .section-feedback__sended-title {
    width: 288px;
    font-size: 32px;
    line-height: 37px;
  }

  .section-feedback__sended-description {
    width: 288px;
    font-size: 22px;
    line-height: 28px;
  }

}

.webp .section-info { background: url(../images/section_info.webp);background-position:center;background-repeat:no-repeat;-o-object-fit:contain;object-fit:contain; }

.webp .section-product__block { background: url(../images/product_bg.webp); }

@media (min-width: 320px) and (max-width: 580px) {

  .webp .section-product__block { background-image: url(../images/product_bg_mobile.webp); }
}
